<header class="mdc-top-app-bar mdc-top-app-bar--fixed">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <img src="/assets/images/logo.png"
                 alt="Logo temple du swing"
                 class="tds-logo" />
        </section>

        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end"
                 role="toolbar">
            <label for="menu-checkbox"
                   class="material-icons mdc-top-app-bar__action-item tds-menu">menu</label>
        </section>
    </div>
</header>

<div>
    <input type="checkbox"
           id="menu-checkbox"
           name="menu">
    <nav class="menu-wrapper">
        <ul>
            <li>
                <h3>Title 01</h3>
                <ul>
                    <li>
                        <a href="#">Item 01</a>
                    </li>
                    <li>
                        <a href="#">Item 01</a>
                    </li>
                </ul>
            </li>
            <li>
                <h3>Title 02</h3>
                <ul>
                    <li>
                        <a href="#">Item 01</a>
                    </li>
                    <li>
                        <a href="#">Item 01</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
