header {
    &.mdc-top-app-bar {
        background-color: white;

        &--fixed {
            top: 0;
        }
    }

    .mdc-top-app-bar__row {
        height: 100px;
    }

    .tds-logo {
        margin-left: 16px;
    }

    label.material-icons.mdc-top-app-bar__action-item {
        display: none;
        user-select: none;
        color: black;
    }

    @media (max-width: 640px) {
        label.material-icons.mdc-top-app-bar__action-item {
            display: block;
        }
    }
}

#menu-checkbox + .menu-wrapper {
    display: none;
}

#menu-checkbox:checked + .menu-wrapper {
    display: block;
}

.menu-wrapper {
    position: fixed;
    top: 100px;
    background-color: white;
    width: 100%;
    height: calc(100vh - 100px);
    z-index: 1;
}
