header {
    &.mdc-top-app-bar {
        background-color: gray;

        &--fixed {
            top: 0;
        }
    }

    .mdc-top-app-bar__row {
        height: 100px;
    }

    label.mdc-top-app-bar__navigation-icon {
        display: none;
        user-select: none;
    }

    @media (max-width: 640px) {
        label.mdc-top-app-bar__navigation-icon {
            display: block;
        }
    }
}

#menu-checkbox + .menu-wrapper {
    display: none;
}

#menu-checkbox:checked + .menu-wrapper {
    display: block;
}

.menu-wrapper {
    position: fixed;
    top: 100px;
    background-color: lightgray;
    width: 100%;
    height: calc(100vh - 100px);
    z-index: 1;
}
