header {
    &.mdc-top-app-bar {
        background-color: white;

        &--fixed {
            top: 0;
        }
    }

    .mdc-top-app-bar__row {
        height: 100px;
    }

    .tds-logo {
        margin-left: 16px;
    }

    label.material-icons.mdc-top-app-bar__action-item {
        user-select: none;
        color: black;
        margin-right: 16px;
    }

    section.small,
    section.big {
        display: none;
    }

    @media (max-width: 640px) {
        section.small {
            display: inline-flex;
        }
    }

    @media (min-width: 640px) {
        section.big {
            display: inline-flex;
        }
    }
}

#menu-checkbox {
    display: none;

    & ~ .menu-wrapper {
        display: none;
    }

    & ~ .tds-close {
        display: none;
    }

    &:checked {
        & ~ .menu-wrapper {
            display: block;
        }

        & ~ .tds-menu {
            display: none;
        }

        & ~ .tds-close {
            display: block;
        }
    }
}

nav.menu-wrapper {
    position: fixed;
    top: 100px;
    left: 0;
    background-color: white;
    color: black;
    width: 100%;
    height: calc(100vh - 100px);
    z-index: 1;
}
