body {
    margin: 0;
}

.header-offset {
    margin-top: 100px;
}

.area {
    height: calc(100vh - 100px);
}

.background {
    background-color: #EA4664;
    background-image: url(/assets/images/background.png);
    background-position: center;
}

.red {
    background-color: lightpink;
}

.blue {
    background-color: lightblue;
}
